{{ define "main" }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>

<content>
  <post-content>
  {{ .Content }}
</post-content>
</content>

{{ if eq .Section "posts" }}
    <script src="https://giscus.app/client.js"
            data-repo="n0vad3v/blog-comments"
            data-repo-id="R_kgDOLH6FXw"
            data-category="Ideas"
            data-category-id="DIC_kwDOLH6FX84Cclxr"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="light_tritanopia"
            data-lang="en"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
{{ end }}

<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>
{{ end }}
